@model StudentDetailViewModel

@{
    ViewData["Title"] = "Details";
}
<div>
    <h4>Student</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h4>Details</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Student.FirstName)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Student.FirstName)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Student.LastName)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Student.LastName)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Student.StudentCode)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Student.StudentCode)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Student.Grade.GradeName)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Student.Grade.GradeName)
                </dd>
            </dl>
        </div>
        <div class="col-md-8">
            <h4>Exam Results</h4>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Sınav Adı
                        </th>
                        <th>
                            Sınav Türü
                        </th>
                        <th>
                            Sonuç
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Student.ExamsResults)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Exam.ExamName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Exam.ExamType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Result)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h4>General Results</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Ders Adı
                    </th>
                    <th>
                        Alınan Not
                    </th>
                    <th>
                        Sınıf Ortalaması
                    </th>
                    <th>
                        Okul Ortalaması
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lessonResult in Model.Student.LessonResults)
                
                {
                    
                    var lessonResults = Model.SchoolLessonResults.Where(
                        x => x.Lesson.LessonId.Equals(lessonResult.Lesson.LessonId)).ToList();

                    var schoolTop10 = lessonResults
                        .OrderByDescending(x => x.Average).Take(10);
                     var schoolAvg = lessonResults
                        .Average(x => x.Average);
                    var gradeAvg = lessonResults.Where(x => x.Grade.GradeId.Equals(Model.Student.Grade.GradeId)).Average(x=>x.Average);

                    <tr class="@(lessonResult.Result< gradeAvg ? "table-danger" : lessonResult.Result>schoolTop10.LastOrDefault().Average ? "table-success" : "")">
                        >
                        <td class="alert">
                            @Html.DisplayFor(modelItem => lessonResult.Lesson.LessonName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => lessonResult.Result)
                        </td>
                        <td>
                            @gradeAvg
                        </td>
                        <td>
                            @schoolAvg
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

